WebContent/wsdl/TestWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.knockknock.redify" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.knockknock.redify" xmlns:intf="http://webservices.knockknock.redify" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.knockknock.redify" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="concatStringsAndReturnCode">
    <complexType>
     <sequence>
      <element name="string1" type="xsd:string"/>
      <element name="string2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="concatStringsAndReturnCodeResponse">
    <complexType>
     <sequence>
      <element name="concatStringsAndReturnCodeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="concatStringsAndReturnCodeRequest">

      <wsdl:part element="impl:concatStringsAndReturnCode" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="concatStringsAndReturnCodeResponse">

      <wsdl:part element="impl:concatStringsAndReturnCodeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWebService">

      <wsdl:operation name="concatStringsAndReturnCode">

         <wsdl:input message="impl:concatStringsAndReturnCodeRequest" name="concatStringsAndReturnCodeRequest">

       </wsdl:input>

         <wsdl:output message="impl:concatStringsAndReturnCodeResponse" name="concatStringsAndReturnCodeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWebServiceSoapBinding" type="impl:TestWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="concatStringsAndReturnCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="concatStringsAndReturnCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="concatStringsAndReturnCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWebServiceService">

      <wsdl:port binding="impl:TestWebServiceSoapBinding" name="TestWebService">

         <wsdlsoap:address location="http://localhost:8080/KnockKnockRedifyTest/services/TestWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
